@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');
/*font-family: "Playwrite IS", cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*font-family: "Bebas Neue", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
/*font-family: "Amatic SC", sans-serif;*/

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #92C7CF;
    font-family: "Playwrite IS", cursive;
}
a{
    text-decoration: none;
    color: #E5E1DA !important;
}
a:hover{
    color: #FBF9F1 !important;
}
/* Header */
.front-page-header{
    position: relative;
}
.front-page-header h1{
    color: #FBF9F1;
    text-transform: uppercase;
    font-family: "Amatic SC", sans-serif;
    letter-spacing: 4px;
    font-size: 64px;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}
/* Friends */
.friends{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.friends h2{
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .5s;
}
.dark-bg{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
}
.friends-julia, .friends-eugene, .friends-nadia{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    filter: grayscale(1) brightness(0.8);
    transition: .5s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.friends-julia:hover, .friends-eugene:hover, .friends-nadia:hover{
    filter: grayscale(0) brightness(1);
    transition: .5s;
}
.friends-julia:hover h2, .friends-eugene:hover h2, .friends-nadia:hover h2{
    opacity: 1;
    transition: .5s;
}

.friends-julia{
    background-image: url("julia/img/bg.jpg");
}
.friends-eugene{
    background-image: url("eugene/img/bg.jpg");
}
.friends-nadia{
    background-image: url("nadia/img/bgh.jpg");

}
@media screen and (max-width: 992px) {
    .friends-julia, .friends-eugene, .friends-nadia{
        filter: none;
    }
    h2{
        opacity: 1 !important;
        color: white ;
    }
}
/* Slider */
.slick-initialized .slick-slide{
    height: 100vh;
}
.slick-prev{
    left: 50px !important;
    z-index: 2;
}
.slick-next{
    right: 50px !important;
    z-index: 2;
}
/* FAQ */
.faq-icon{
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.faq-icon img{
    width: 50px;
    transition: transform 0.1s;
}
.shake {
    animation: shake 0.5s;
}
@keyframes shake {
    0%, 100% {
        transform: translate(0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate(-2px, 0);
    }
    20%, 40%, 60%, 80% {
        transform: translate(2px, 0);
    }
}
#modal-telegram, #modal-phone{
    width: 50px;
    margin: 10px;
}
